.html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.gallery img{
    width: calc(100vw/14);
    height: calc(100vh/5);
    object-fit: cover;
    border: none;
}

.circle{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; 
    height: 400px; 
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
    display: flex;

}

.circle:hover{
    background-color: black;
}

.circle a{
    color: darkgrey;
    text-decoration: none;
    font-size: 100px;
    text-align: center;
}

.circle:hover a{
    color: azure;
}