.html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.gallery img{
    width: calc(100vw/14);
    height: calc(100vh/5);
    object-fit: cover;
    border: none;
}